/* stles sheet for index of Mom's website */
body {
    font-family: sans-serif;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #00afb9;
    justify-content: space-between;
}

.about {
    margin: 0;
    background-color: #fdfcdc;
    color: white;
    height: 150px;
}

h1, h2 {
    margin: 0;
}

.photo-contents {
    background-color: #fed9b7;
    color: white;
    max-height: fit-content;
}

img {
    max-width: 400px;
    max-height: 300px;
}

img:hover {
    opacity: 75%;
}

.contact {

}

.footer {
    font-size: 10px;
    background-color: darkslateblue;
    color: white;
    display: flex;
    justify-content: center;
}